####################################
# Postgres
####################################
POSTGRES_USER=bookmark
POSTGRES_PASSWORD=bookmark
POSTGRES_DB=bookmark-db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://bookmark:bookmark@localhost:5432/bookmark-db

####################################
# Redis
####################################
REDIS_PORT=6379
REDIS_HOST=redis

####################################
# Authenfizierung
####################################
JWT_SECRET="sehr-sicheres-jwt-secret"

NODE_ENV=production
BACKEND_PORT=4000
CORS_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:4000

####################################
# Frontend nginx
####################################
FRONTEND_HTTP_PORT=80
FRONTEND_HTTPS_PORT=443

FAVICON_DIR=/data/favicons
MAIL_HOST=mail.example.de
MAIL_PORT=587
MAIL_USER=noreply@example.de
MAIL_PASS=supersecret
MAIL_FROM="Bookmark App <noreply@example.de>"
APP_URL=https://localhost:5173