{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
    <div id="app"></div>

    {% include 'default/api.html.twig' %}
    {% include 'default/translation.html.twig' %}
{% endblock %}