{% include 'default/translation/components.html.twig' %}
{% include 'default/translation/confirmDialog.html.twig' %}
{% include 'default/translation/dataTables.html.twig' %}
{% include 'default/translation/dialogs.html.twig' %}
{% include 'default/translation/generals.html.twig' %}
{% include 'default/translation/menus.html.twig' %}
{#{% include 'main/translation/security.html.twig' %}#}
{#{% include 'main/translation/sites.html.twig' %}#}
