<script>
    const __COMPONENTS__ = {
        dataTable: {
            buttons: {
                reloadData: {
                    label: "{{ 'components.dataTable.buttons.reloadData.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.reloadData.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.reloadData.tooltip'|trans|raw }}"
                },
                addItem: {
                    label: "{{ 'components.dataTable.buttons.addItem.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.addItem.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.addItem.tooltip'|trans|raw }}"
                },
                editItem: {
                    label: "{{ 'components.dataTable.buttons.editItem.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.editItem.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.editItem.tooltip'|trans|raw }}"
                },
                deleteItem: {
                    label: "{{ 'components.dataTable.buttons.deleteItem.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.deleteItem.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.deleteItem.tooltip'|trans|raw }}"
                },
                loadItem: {
                    label: "{{ 'components.dataTable.buttons.loadItem.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.loadItem.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.loadItem.tooltip'|trans|raw }}"
                },
                takeOverEntry: {
                    label: "{{ 'components.dataTable.buttons.takeOverEntry.label'|trans|raw }}",
                    icon: "{{ 'components.dataTable.buttons.takeOverEntry.icon'|trans|raw }}",
                    tooltip: "{{ 'components.dataTable.buttons.takeOverEntry.tooltip'|trans|raw }}"
                }
            },
            columnActionsHeadline: "{{ 'components.dataTable.columnActionsHeadline'|trans|raw }}",
            emptyItems: "{{ 'components.dataTable.emptyItems'|trans|raw }}",
            loadingItems: "{{ 'components.dataTable.loadingItems'|trans|raw }}",
            pageReportTemplateOne: "{{ 'components.dataTable.pageReportTemplateOne'|trans|raw }}",
            pageReportTemplateTwo: "{{ 'components.dataTable.pageReportTemplateTwo'|trans|raw }}",
            pageReportTemplateThree: "{{ 'components.dataTable.pageReportTemplateThree'|trans|raw }}",
            searchPlaceholder: "{{ 'components.dataTable.searchPlaceholder'|trans|raw }}",
            multiSelectPlaceholder: "{{ 'components.dataTable.multiSelectPlaceholder'|trans|raw }}",
            multiSelectItems: "{{ 'components.dataTable.multiSelectItems'|trans|raw }}",
            selectColumnsItems: "{{ 'components.dataTable.selectColumnsItems'|trans|raw }}",
            selectColumnsPlaceholder: "{{ 'components.dataTable.selectColumnsPlaceholder'|trans|raw }}"
        },
        dialog: {
            buttonClose: "{{ 'components.dialog.buttonClose'|trans|raw }}",
            buttonCreate: "{{ 'components.dialog.buttonCreate'|trans|raw }}",
            buttonSave: "{{ 'components.dialog.buttonSave'|trans|raw }}",
            buttonDelete: "{{ 'components.dialog.buttonDelete'|trans|raw }}",
            buttonAutoCloseOn: "{{ 'components.dialog.buttonAutoCloseOn'|trans|raw }}",
            buttonAutoCloseOff: "{{ 'components.dialog.buttonAutoCloseOff'|trans|raw }}"
        },
        toastMessage: {
            created: {
                title: {{ 'components.toastMessage.created.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.created.message'|trans|json_encode|raw }}
            },
            updated: {
                title: {{ 'components.toastMessage.updated.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.updated.message'|trans|json_encode|raw }}
            },
            deleted: {
                title: {{ 'components.toastMessage.deleted.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.deleted.message'|trans|json_encode|raw }}
            },
            failed: {
                title: {{ 'components.toastMessage.failed.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.failed.message'|trans|json_encode|raw }}
            },
            relationsFound: {
                title: {{ 'components.toastMessage.relationsFound.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.relationsFound.message'|trans|json_encode|raw }}
            },
            error: {
                title: {{ 'components.toastMessage.error.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.error.message'|trans|json_encode|raw }}
            },
            noRight: {
                title: {{ 'components.toastMessage.noRight.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.noRight.message'|trans|json_encode|raw }}
            },
            loadData: {
                title: {{ 'components.toastMessage.loadData.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.loadData.message'|trans|json_encode|raw }}
            },
            noEntryFound: {
                title: {{ 'components.toastMessage.noEntryFound.title'|trans|json_encode|raw }},
                message: {{ 'components.toastMessage.noEntryFound.message'|trans|json_encode|raw }}
            }
        }
    };
</script>