<script>
    const __DATA_TABLES__ = {
        tabAreas: {
            headline: "{{ 'dataTables.tabAreas.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.tabAreas.columns.id'|trans|raw }}",
                designation: "{{ 'dataTables.tabAreas.columns.designation'|trans|raw }}",
                sorting: "{{ 'dataTables.tabAreas.columns.sorting'|trans|raw }}",
                comment: "{{ 'dataTables.tabAreas.columns.comment'|trans|raw }}",
                bookmarkCategories: "{{ 'dataTables.tabAreas.columns.bookmarkCategories'|trans|raw }}",
                bookmarks: "{{ 'dataTables.tabAreas.columns.bookmarks'|trans|raw }}",
                createdAt: "{{ 'dataTables.tabAreas.columns.createdAt'|trans|raw }}",
                updatedAt: "{{ 'dataTables.tabAreas.columns.updatedAt'|trans|raw }}",
            }
        },
        bookmarkCategories: {
            headline: "{{ 'dataTables.bookmarkCategories.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.bookmarkCategories.columns.id'|trans|raw }}",
                tabAreaDesignation: "{{ 'dataTables.bookmarkCategories.columns.tabAreaDesignation'|trans|raw }}",
                tabAreaSorting: "{{ 'dataTables.bookmarkCategories.columns.tabAreaSorting'|trans|raw }}",
                designation: "{{ 'dataTables.bookmarkCategories.columns.designation'|trans|raw }}",
                sorting: "{{ 'dataTables.bookmarkCategories.columns.sorting'|trans|raw }}",
                comment: "{{ 'dataTables.bookmarkCategories.columns.comment'|trans|raw }}",
                bookmarks: "{{ 'dataTables.bookmarkCategories.columns.bookmarks'|trans|raw }}",
                createdAt: "{{ 'dataTables.bookmarkCategories.columns.createdAt'|trans|raw }}",
                updatedAt: "{{ 'dataTables.bookmarkCategories.columns.updatedAt'|trans|raw }}",
            }
        },
        bookmarks: {
            headline: "{{ 'dataTables.bookmarks.headline'|trans|raw }}",
            columns: {
                id: "{{ 'dataTables.bookmarks.columns.id'|trans|raw }}",
                tabAreaDesignation: "{{ 'dataTables.bookmarks.columns.tabAreaDesignation'|trans|raw }}",
                tabAreaSorting: "{{ 'dataTables.bookmarks.columns.tabAreaSorting'|trans|raw }}",
                bookmarkCategoryDesignation: "{{ 'dataTables.bookmarks.columns.bookmarkCategoryDesignation'|trans|raw }}",
                bookmarkCategorySorting: "{{ 'dataTables.bookmarks.columns.bookmarkCategorySorting'|trans|raw }}",
                hyperlinkUrl: "{{ 'dataTables.bookmarks.columns.hyperlinkUrl'|trans|raw }}",
                hyperlinkDescription: "{{ 'dataTables.bookmarks.columns.hyperlinkDescription'|trans|raw }}",
                sorting: "{{ 'dataTables.bookmarks.columns.sorting'|trans|raw }}",
                comment: "{{ 'dataTables.bookmarks.columns.comment'|trans|raw }}",
                createdAt: "{{ 'dataTables.bookmarks.columns.createdAt'|trans|raw }}",
                updatedAt: "{{ 'dataTables.bookmarks.columns.updatedAt'|trans|raw }}",
            }
        }
    };
</script>