<script>
    const __DIALOGS__ = {
        tabArea: {
            headerTitle: "{{ 'dialogs.tabArea.headerTitle'|trans|raw }}",
            fields: {
                designation: {
                    label: "{{ 'dialogs.tabArea.fields.designation.label'|trans|raw }}",
                    help: "{{ 'dialogs.tabArea.fields.designation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tabArea.fields.designation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tabArea.fields.designation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tabArea.fields.designation.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.tabArea.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.tabArea.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tabArea.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tabArea.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tabArea.fields.sorting.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.tabArea.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.tabArea.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.tabArea.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.tabArea.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.tabArea.fields.comment.required'|trans|raw }}",
                },
            }
        },
        bookmarkCategory: {
            headerTitle: "{{ 'dialogs.bookmarkCategory.headerTitle'|trans|raw }}",
            fields: {
                tabArea: {
                    label: "{{ 'dialogs.bookmarkCategory.fields.tabArea.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmarkCategory.fields.tabArea.help'|trans|raw }}",
                    required: "{{ 'dialogs.bookmarkCategory.fields.tabArea.required'|trans|raw }}",
                },
                designation: {
                    label: "{{ 'dialogs.bookmarkCategory.fields.designation.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmarkCategory.fields.designation.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmarkCategory.fields.designation.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmarkCategory.fields.designation.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmarkCategory.fields.designation.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.bookmarkCategory.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmarkCategory.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmarkCategory.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmarkCategory.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmarkCategory.fields.sorting.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.bookmarkCategory.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmarkCategory.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmarkCategory.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmarkCategory.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmarkCategory.fields.comment.required'|trans|raw }}",
                },
            }
        },
        bookmark: {
            headerTitle: "{{ 'dialogs.bookmark.headerTitle'|trans|raw }}",
            fields: {
                tabArea: {
                    label: "{{ 'dialogs.bookmark.fields.tabArea.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.tabArea.help'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.tabArea.required'|trans|raw }}",
                },
                bookmarkCategory: {
                    label: "{{ 'dialogs.bookmark.fields.bookmarkCategory.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.bookmarkCategory.help'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.bookmarkCategory.required'|trans|raw }}",
                },
                hyperlinkUrl: {
                    label: "{{ 'dialogs.bookmark.fields.hyperlinkUrl.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.hyperlinkUrl.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmark.fields.hyperlinkUrl.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmark.fields.hyperlinkUrl.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.hyperlinkUrl.required'|trans|raw }}",
                },
                hyperlinkDescription: {
                    label: "{{ 'dialogs.bookmark.fields.hyperlinkDescription.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.hyperlinkDescription.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmark.fields.hyperlinkDescription.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmark.fields.hyperlinkDescription.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.hyperlinkDescription.required'|trans|raw }}",
                },
                sorting: {
                    label: "{{ 'dialogs.bookmark.fields.sorting.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.sorting.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmark.fields.sorting.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmark.fields.sorting.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.sorting.required'|trans|raw }}",
                },
                comment: {
                    label: "{{ 'dialogs.bookmark.fields.comment.label'|trans|raw }}",
                    help: "{{ 'dialogs.bookmark.fields.comment.help'|trans|raw }}",
                    maxlength: "{{ 'dialogs.bookmark.fields.comment.maxlength'|trans|raw }}",
                    minlength: "{{ 'dialogs.bookmark.fields.comment.minlength'|trans|raw }}",
                    required: "{{ 'dialogs.bookmark.fields.comment.required'|trans|raw }}",
                },
            }
        },
    };
</script>