<script>
    const __GENERALS__ = {
        siteTitle: "{{ 'generals.siteTitle'|trans|raw }}",
        siteTitleShort: "{{ 'generals.siteTitleShort'|trans|raw }}",
        siteTitleListItem: "{{ 'generals.siteTitleListItem'|trans|raw }}",
        siteTitleNewItem: "{{ 'generals.siteTitleNewItem'|trans|raw }}",
        siteTitleEditItem: "{{ 'generals.siteTitleEditItem'|trans|raw }}",
        siteTitleDeleteItem: "{{ 'generals.siteTitleDeleteItem'|trans|raw }}",
        requiredFieldText: "{{ 'generals.requiredFieldText'|trans|raw }}",
        numberOfCharacters: "{{ 'generals.numberOfCharacters'|trans|raw }}",
    }
</script>